.cabecalho{
    align-items: center;
    background: linear-gradient(to bottom, var(--azul-magenta)80%, rgba(0,0,0,0));
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 15vh;
    position: fixed;
    top: 0;
    z-index: 10;
}

.cabecalho.ativo {
    background: linear-gradient(to bottom, rgba(0,0,0,0.9), rgba(0,0,0,0.1));
}

.cabecalho__logo {
    width: 10%;
}

.cabecalho__nav{
    display: flex;
    align-items: center;
}



.nav__mobile{
    cursor: pointer;
    display: none;
}

.nav__mobile div{
    width: 2rem;
    height: 2px;
    background-color: var(--branco);
    margin: 8px;
    transition: 0.5s;
}

.nav__lista{
    display: flex;
    list-style: none;
    gap: 2rem;
    align-items: center;
    font-family: var(--font-menu);
    font-size: 1.3rem;
}

.lista__itens{
    letter-spacing: 3px;
    color: var(--branco);
}

.lista__itens:hover{
    opacity: 0.8;
}

@keyframes navLinkFade {
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        transform: translateX(0);
        opacity: 1;
    }
}

.nav__mobile.active .nav__mobile__linha1{
    transform: rotate(-45deg) translate(-8px, 8px);
}

.nav__mobile.active .nav__mobile__linha2{
    opacity: 0;
}

.nav__mobile.active .nav__mobile__linha3{
    transform: rotate(45deg) translate(-5px, -7px);
}

@media (max-width: 996px){
    body{
        overflow-x: hidden;
    }
    
    .nav__mobile{
        display:block;
    }

    .nav__lista{
        position: absolute;
        top: 15vh;
        right: 0;
        width: 40vh;
        height: 90vh;
        background-color: var(--azul-magenta);
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        padding: 2rem 0;
        transform: translateX(100%);
        transition: transform 0.6s ease-in;
    }

    .lista__itens{
        opacity: 0;
        margin-left: 0;
    }

    .nav__lista.active{
        transform: translateX(0);
    }

}

@media (min-width: 0) {
    .cabecalho__logo {
        width: 40%;
    }

    .cabecalho.ativo {
        background-color: var(--azul-magenta);
    }
}