.projetos {
    width: 100vw;
    min-height: 100vh !important;
    background: linear-gradient(to bottom, var(--roxo) 1%, var(--violeta));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 20vh 0;
}

.projetos__titulo {
    font-size: 3.5rem;
    font-family: var(--font-principal);
    color: var(--branco);
    text-transform: uppercase;
    height: 20vh;
    text-shadow: 5px 5px 2px rgba(0, 0, 0, 0.2);
}

/* .projetos__container {
    width: 100vw;
    height: 30vh;
} */

.projetos__container__pagina{
    display: none;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    gap: 2rem;
    padding: 5rem;
}

.projeto {
    width: 350px;
    height: 230px;
    background-color: brown;
    margin-top: 5rem;
    border-radius: 20px;
    box-shadow: 12px 12px 8px rgba(0, 0, 0, 0.3);
    position: relative;
}

.projeto--hover {
    background: rgba(0, 0, 0, 0.5);
    width: 350px;
    height: 230px;
    border-radius: 20px;
    position: absolute;
    top: 0px;
    left: 0;
    transition: opacity 1.5s ease-in-out;
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.projeto--hover__link {
    /* position: absolute; */
    width: 100px;
    height: 50px;
    background-color: aqua;
    text-align: center;
    padding-top: 17px;
    /* top: 0; */
}

.projeto:hover .projeto--hover {
    opacity: 1;

}

.laranja {
    background-color: chartreuse;
}

.fim {
    background-color: forestgreen;
}

.ativo {
    display: flex;
}

.seletor {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    font-size: 1.5rem;
    color: var(--branco);
}

.indice {
    font-family: var(--font-secundaria);
    cursor: pointer;
    font-size: 2.5rem;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.next,.prev {
    cursor: pointer;
}

.selecionado {
    color: var(--azul-magenta);
}

.desativado {
    opacity: 0;
    cursor: none;
}